<extend name="Public:base" />

<block name="js">
    <script src="__ASSERTS__/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="__ASSERTS__/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        $(function(){
            $('.toogle_title').click(function(){
                $(this).parent().parent().next().toggle()
            })
            $('.glyphicon-remove').click(function(){
                $(this).parent().parent().parent().hide();
            })




        })
    </script>
</block>
<block name="css">
    <style>
        .nav-top {
            margin-top: 80px;
        }
        .title-article h1 {
            font-size: 32px;
            margin: 0 auto;
            text-align: center;
        }
        .data-article span.day {
            font-size: 30px;
            font-weight: bold;
            margin-top: -5px;
        }
        span.month, .data-article span.day {
            text-align: center;
            display: block;
        }
        .data-article {
            background-color: #d9534f;
            border-color: #d43f3a;
            position: absolute;
            height: 70px;
            width: 70px;
            border-radius: 100px;
            left: -20px;
            top: -20px;
            color: white;
            padding-top: 10px;


        }

        .panel-zan > .panel-heading {
            color: white;
            background-color: #3d4450;
            border-color: #000;
        }

    </style>
</block>
<block name="content">


    <aside class="col-md-8 nav-top well" >
            <!--&lt;!&ndash; 面包屑 &ndash;&gt;-->
            <!--<div class="breadcrumb">-->
                <!--<i class="fa fa-home"></i> &lt;!&ndash; Breadcrumb NavXT 4.4.0 &ndash;&gt;-->
                <!--<a title="Go to Zanblog." href="#" class="home">Zanblog</a> / Zanblog 更新至V2.1.0	</div>-->
            <!--&lt;!&ndash; 面包屑结束 &ndash;&gt;-->

            <!-- 大型设备文章属性 -->
            <!--<div class="hidden-xs">-->
                <!--<div class="title-article">-->
                    <!--<h1><a href="http://www.yeahzan.com/zanblog/archives/856.html">Zanblog 更新至V2.1.0</a></h1>-->
                <!--</div>-->
                <!--<div class="tag-article container">-->
                    <!--<span class="label label-zan"><i class="fa fa-tags"></i> 9-13</span>-->
                    <!--<span class="label label-zan"><i class="fa fa-tags"></i> <a href="#" rel="category tag">Zanblog</a></span>-->
                    <!--<span class="label label-zan"><i class="fa fa-user"></i> <a href="#" title="由佚站互联发布" rel="author">佚站互联</a></span>-->
                    <!--<span class="label label-zan"><i class="fa fa-eye"></i> 4,232</span>-->
                <!--</div>-->
            <!--</div>-->
            <!-- 大型设备文章属性结束 -->

            <!-- 小型设备文章属性 -->
            <div >
                <div class="title-article">
                    <h1><a href="__SELF__">{$article.title}</a></h1>
                </div>
                <p>
                <div class="data-article hidden-xs">
                    <span class="month">{:date('m',strtotime($article['addtime']))+0}月</span>
                    <span class="day">{:date('d',strtotime($article['addtime']))+0}</span>
                </div>
            </div>
            <!-- 小型设备文章属性结束 -->

            <div class="centent-article">
                {$article.content}

                <!-- 分页 -->
                <div class="zan-page bs-example">
                    <ul class="pager">
                        <li class="previous"><a href="#" rel="prev">上一篇</a></li>
                        <li class="next"><a href="#" rel="prev">下一篇</a></li>
                    </ul>
                </div>
                <!-- 分页 -->

                <!-- 文章版权信息 -->
                <div class="copyright alert alert-success">
                    <p>
                        版权属于:
                        <a href="#">{$article.username}</a>			</p>
                    <p>
                        原文地址:
                        <a href="#">__SELF__</a>			</p>
                    <p>转载时必须以链接形式注明原始出处及本声明。</p>
                </div>
                <!-- 文章版权信息结束 -->

                <!-- 文章分享 -->
                <div class="clearfix" id="bdshare">
                    <div class="bdsharebuttonbox pull-right bdshare-button-style1-24" data-bd-bind="1421512526057">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                </div>
                <!-- 文章分享结束 -->

                <script>
                    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                </script>
                <!-- Baidu Button END -->
            </div>

    </aside>

    <aside class="col-md-4 nav-top" id="sidebar">

            <div class="panel panel-zan hot hidden-xs">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-leaf"></i> 最热文章
                    <span class="pull-right"><i class="glyphicon glyphicon-chevron-down toogle_title"></i> <i class="glyphicon glyphicon-remove"></i></span>
                </div>
                <ul class="list-group list-group-flush">
                    <for start="1" end="10">
                        <li class="list-group-item">
              <span class="post-title">
                <a href="http://www.yeahzan.com/zanblog/archives/763.html" title="Zanblog 2.0.7（稳定版）更新">
                    Zanblog 2.0.7（稳定版）更新                </a>
              </span>
                            <span class="badge">26,918</span>
                        </li>
                    </for>
                </ul>
            </div>




    </aside>

</block>