<extend name="Public:base" />

    <block name="js">
    <script src="__ASSERTS__/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="__ASSERTS__/js/ie10-viewport-bug-workaround.js"></script>
      <script>
        $(function(){
          $('.toogle_title').click(function(){
            $(this).parent().parent().next().toggle()
          })
          $('.glyphicon-remove').click(function(){
            $(this).parent().parent().parent().hide();
          })




        })
      </script>
    </block>
    <block name="content">
      <style>
        .nav-top {
          margin-top: 80px;
        }
        .title-article h1 {
          font-size: 32px;
          margin: 0 auto;
          text-align: center;
        }
        .data-article span.day {
          font-size: 30px;
          font-weight: bold;
          margin-top: -5px;
        }
        span.month, .data-article span.day {
          text-align: center;
          display: block;
        }
        .data-article {
          background-color: #d9534f;
          border-color: #d43f3a;
          position: absolute;
          height: 70px;
          width: 70px;
          border-radius: 100px;
          left: -20px;
          top: -20px;
          color: white;
          padding-top: 10px;


        }

        .panel-zan > .panel-heading {
          color: white;
          background-color: #3d4450;
          border-color: #000;
        }

      </style>
      <aside class="col-md-8" id="sidebar">
    <div id="article-list" class="nav-top">
      <for start="1" end="10">
      <div class="article well clearfix" style="position: relative;margin-bottom: 30px;padding-bottom: 20px;">
        <i class="fa fa-bookmark article-stick visible-md visible-lg"></i>
        <div class="data-article hidden-xs">
          <span class="month">9月</span>
          <span class="day">13</span>
        </div>

        <!-- 大型设备文章属性 -->
        <section class="hidden-xs">
          <div class="title-article">
            <h1><a href="#">
              Zanblog 更新至V2.1.0			</a></h1>
          </div>
          <div class="tag-article">
            <span class="label label-zan"><i class="fa fa-tags"></i> <a href="#" rel="category tag">Zanblog</a></span>
            <span class="label label-zan"><i class="fa fa-user"></i> <a href="#" title="由佚站互联发布" rel="author">佚站互联</a></span>
            <span class="label label-zan"><i class="fa fa-eye"></i> 4,225</span>
          </div>
          <div class="content-article">
            <figure class="thumbnail"><a href="#"><img width="750" height="300" src="__ASSERTS__/img/car_5.jpg" class="attachment-full wp-post-image" alt="car_5"></a></figure>
            <div class="alert alert-zan">
             content</div>
          </div>
          <a class="btn btn-danger pull-right read-more" href="#" title="详细阅读 Zanblog 更新至V2.1.0">阅读全文 <span class="badge">6</span></a>
        </section>
        <!-- 大型设备文章属性结束 -->

        <!-- 小型设备文章属性 -->
        <section class="visible-xs">
          <div class="title-article">
            <h4><a href="#">Zanblog 更新至V2.1.0</a></h4>
          </div>
          <p>
            <i class="fa fa-calendar"></i> 9-13			<i class="fa fa-eye"></i> 4,225		</p>
          <div class="content-article">
            <figure class="thumbnail"><a href="#"><img width="750" height="300" src="#" class="attachment-full wp-post-image" alt="car_5"></a></figure>
            <div class="alert alert-zan">
              content</div>
          </div>
          <a class="btn btn-danger pull-right read-more btn-block" href="#" title="详细阅读 Zanblog 更新至V2.1.0">阅读全文 <span class="badge">6</span></a>
        </section>
        <!-- 小型设备文章属性结束 -->
      </div>
      </for>
    </div>
        </aside>

      <aside class="col-md-4" id="sidebar">
        <div class="nav-top">

          <div class="panel panel-zan hot hidden-xs">
            <div class="panel-heading">
              <i class="glyphicon glyphicon-leaf"></i> 最热文章
              <span class="pull-right"><i class="glyphicon glyphicon-chevron-down toogle_title"></i> <i class="glyphicon glyphicon-remove"></i></span>
            </div>
            <ul class="list-group list-group-flush">
              <for start="1" end="10">
              <li class="list-group-item">
              <span class="post-title">
                <a href="#" title="Zanblog 2.0.7（稳定版）更新">
                  Zanblog 2.0.7（稳定版）更新                </a>
              </span>
                <span class="badge">26,918</span>
              </li>
                </for>
            </ul>
          </div>



        </div>
      </aside>
</block>